<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div>
    <form action="/" method="post">
        <label>USERNAME</label><br>
        <input name="username" type="email" placeholder="write your username here"><br><br>
        <label>PASSWORD</label><br>
        <input name="password" type="password" placeholder="write your password here"><br><br>
        <input type="submit" value="LOGIN"><br><br>
    </form>
</div>
<div>
    <form action="/new">
        <label>New Here?</label>
        <input value="Register" type="submit">
    </form>
</div>

</body>
</html>